---
layout: post
title: 'Đồng hành cùng hội chỉnh nha chủ đề: "các vấn đề  chỉnh nha đương đại"'
banner__title: 'Đồng hành cùng hội chỉnh nha chủ đề: "các vấn đề  chỉnh nha đương đại"'
permalink: blog-details.html
---

<!-- BLOG DETAILS CONTENT START -->
<div class="blog-content__body">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                
                <!-- BLOG CONTENT START -->
                <div class="blog-details__content">
                    <!-- BLOG DETAILS TITLE START -->
                    <div class="blog-details__content-title">
                        <h2>
                            Đồng hành cùng hội chỉnh nha chủ đề: "các vấn đề  chỉnh nha đương đại"
                        </h2>
                    </div>
                    <!-- BLOG DETAILS TITLE END -->

                    <!-- BLOG DETAILS DATE START -->
                    <div class="blog-details__content_date">
                        <p>
                            <i class="fal fa-calendar-alt"></i>
                            <span>10 / 06 / 2021 </span>
                        </p>
                        <p>
                            <i class="fas fa-user"></i>
                            <a href="#">Admin</a>
                        </p>
                    </div>
                    <!-- BLOG DETAILS DATE END -->

                    <!-- BLOG DETAIL IMG START -->
                    <div class="blog-details__content-img">
                        <img src="assets/images/news/Untitled-5.png" alt="blog-content-image">
                    </div>
                    <!-- BLOG DETAILS IMG END -->

                    <!-- BLOG DETAILS PARAGRAPH START -->
                    <div class="blog-details__content-paragraph">
                        <p>
                            Thực hiện chủ trương của Đảng và Chính phủ, hưởng ứng lời kêu gọi của Ủy ban
                            Quản lý vốn Nhà nước tại doanh nghiệp; với vai trò, trách nhiệm tiên phong của doanh nghiệp
                            Nhà nước trong thực hiện nhiệm vụ chính trị - xã hội đối với cộng đồng, 
                            Tập đoàn Điện lực Quốc gia Việt Nam (EVN) quyết định ủng hộ Quỹ vắc-xin phòng, 
                            chống COVID-19 với số tiền là 400 tỷ đồng (trong đó đã bao gồm 
                            cả 30 tỷ đồng mà EVN đã trao tặng tại Bộ Y tế vào ngày 28/5/2021).
                        </p>
                        <p>
                            Theo kế hoạch, số tiền ủng hộ 400 tỷ đồng của EVN cho Quỹ vắc-xin phòng, 
                            chống COVID-19 sẽ được trao tặng tại sự kiện Lễ ra mắt Quỹ vắc-xin phòng, 
                            chống COVID-19 diễn ra vào tối ngày 5/6/2021 tại Hà Nội dưới sự chứng kiến 
                            của Thủ tướng Chính phủ Phạm Minh Chính và các đồng chí lãnh đạo Đảng, 
                            Nhà nước, Chính phủ và các Ban, Bộ ngành.
                        </p>

                        <p>
                            Như vậy đến thời điểm hiện tại, tổng số tiền mà EVN và các đơn vị thành viên 
                            đã đóng góp, ủng hộ cho các tỉnh, thành phố bị ảnh hưởng nặng nề cũng như hỗ 
                            trợ các hoạt động phòng chống dịch của ngành Y tế đối với riêng đợt dịch 
                            COVID-19 từ cuối tháng 4 trở lại đây là hơn 408 tỷ đồng.
                        </p>

                        <p>
                            Mặt khác, trong 2 năm vừa qua, Tập đoàn Điện lực Việt Nam đã thể hiện vai trò, 
                            ngoài trách nhiệm tiên phong của doanh nghiệp Nhà nước đối với cộng đồng xã hội 
                            trong bối cảnh đại dịch COVID-19 bằng việc thực hiện giảm giá điện, giảm tiền điện 
                            3 lần, với tổng số tiền khoảng 13.800 tỷ đồng. Đồng thời, đến nay EVN đã ủng hộ, 
                            hỗ trợ cho các hoạt động phòng chống dịch COVID-19 trong 2 năm vừa qua với giá trị là gần 450 tỷ đồng.
                        </p>
                        <p>

                            Hiện nay, EVN và các đơn vị vẫn đang cố gắng nỗ lực, phấn đấu tiếp tục thực 
                            hiện tốt nhiệm vụ kép: vừa thực hiện công tác phòng chống dịch COVID-19, 
                            vừa đảm bảo cung cấp điện phục vụ phát triển kinh tế - xã hội của đất nước.
                        </p>
                    </div>
                    <!-- BLOG DETAILS PARAGRAPH END -->

                    <!-- BLOG DETAILS TAG START -->
                    <div class="blog-detail__content-tag">
                        <div class="tag-title">
                            <i class="fas fa-tags"></i>
                            <p>Từ khóa:</p>
                        </div>
                        <div class="tag-body">
                        {% for item in site.data.blog-tag %}
                            <span>
                                {{item.text}}
                            </span>
                        {% endfor %}
                        </div>
                    </div>
                    <!-- BLOG DETAILS TAG END-->

                </div>
                <!-- BLOG CONTENT END -->

                <!-- BLOG INVOLVE START -->
                <div class="blog-details__content-involve">
                    <div class="title">
                        <h2>
                            Các tin tức liên quan
                        </h2>
                    </div>
                    <div class="content">
                        <div class="row">
                            {% for item in site.data.blog-involve %}
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <!-- BLOG INVOLVE ITEM START -->
                                <div class="blog-involve__item">
                                    <!-- IMG START -->
                                    <div class="blog-involve__item-img">
                                        <a href="blog-details.html">
                                            <img src="{{item.img_path}}" alt="{{item.name}}">
                                        </a>
                                    </div>
                                    <!-- IMG END -->
    
                                    <!-- BLOG INVOLVE CONTENT START -->
                                    <div class="blog-involve__item-content">
                                        <div class="item-content__date">
                                            <span>
                                                {{item.date}}
                                            </span>
                                             <span>
                                                {{item.month}}
                                            </span>
                                        </div>
                                        <div class="item-content__text">
                                            <div class="name">
                                                <h2>
                                                    <a href="blog-details.html">
                                                        {{item.name}}
                                                    </a>
                                                </h2>
                                            </div>
                                            <div class="description">
                                                <p>
                                                    {{item.desc}}
                                                </p>
                                            </div>
                                            <div class="read">
                                                <a href="blog-details.html">
                                                    <span>Xem thêm</span>
                                                    <i class="far fa-angle-right"></i>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- BLOG INVOLVE CONTEN END -->
                                </div>
                                <!-- BLOG INVOLVE ITEM END -->
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>  
                <!-- BLOG INVOLVE END -->
            </div>

            <!-- BLOG SIDEBAR START -->
            <div class="col-lg-4">
                <div class="blog-content__sidebar">
                    <span id="blog-content__sidebar"></span>
                    <div class="blog-content__sidebar__wraps">
                        <div class="body-home__sidebar">
                            <!-- NEWS START -->
                            <div class="body-home__news">
                                <div class="home__news-title">
                                    <h2>Tin tức mới nhất</h2>
                                    <div class="home__news-control">
                                    <button id="prev-btn">
                                        <i class="fas fa-caret-left"></i>
                                    </button>
                                    <button class="button--next" id="next-btn">
                                        <i class="fas fa-caret-right"></i>
                                    </button>
                                    </div>
                                </div>
                                <div class="home__news-slide">
                                    {% for item in site.data.home-news-list %}
                                    <div class="home__news-container">
                                        <div class="home__news-item">
                                        <div class="home__news-item__img">
                                            <img src="{{item.img_path}}" alt="home-news-item-img" />
                                        </div>
                                        <div class="home__news-item__title">
                                            <h2>
                                            <a href="{{item.link}}"> {{item.title}} </a>
                                            </h2>
                                        </div>
                                        <div class="home__news-item__desc">
                                            <p>{{item.desc}}</p>
                                        </div>
                                        <div class="home__new-item__read">
                                            <a href="{{item.link}}">Đọc tiếp</a>
                                            <i class="far fa-chevron-double-right"></i>
                                        </div>
                                        </div>
                                        <div class="home__news-item">
                                        <div class="home__news-item__img">
                                            <img src="{{item.img_path}}" alt="home-news-item-img" />
                                        </div>
                                        <div class="home__news-item__title">
                                            <h2>
                                            <a href="{{item.link}}"> {{item.title}} </a>
                                            </h2>
                                        </div>
                                        <div class="home__news-item__desc">
                                            <p>{{item.desc}}</p>
                                        </div>
                                        <div class="home__new-item__read">
                                            <a href="{{item.link}}">Đọc tiếp</a>
                                            <i class="far fa-chevron-double-right"></i>
                                        </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- NEWS END -->
                        </div>
    
                        <div class="body-home__right-sidebar">
                            <!-- BANNER START -->
                            <div class="right-sidebar__banner" style="background: url(assets/images/right-sidebar/background.jpg);">
                                <img src="assets/images/right-sidebar/piece.png" alt="img" >
                                <div class="right-sidebar__banner-text">
                                    <h2>
                                        Ưu đãi lớn nhất trong dịp kỷ niệm thành lập công ty
                                    </h2>
                                    <h3>
                                        08/01/2018 - 18/02/2018
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- BANNER END -->
                </div>
            </div>
            <!-- BLOG SIDEBAR END -->
        </div>
    </div>
</div>

<!-- BLOG DETAILS CONTENT END -->