<div class="title">
    <h2>
        Ghế nha khoa
    </h2>
    <span>
        Showwing 12 of 128
    </span>
    <form action="#" method="get">    
        <select id="sorting-product" class="">
            <optiop>
               Sorting
            </optiop>
            <option>
                    From New to Old
            </option>
            <option>
                    From Old to New
            </option>
            <option>
                    From Low to Hight
            </option>
            <option>
                    From Hight to Low
            </option>
        </select>
        <button class="categories__sorting" >
            <i class="fad fa-sliders-v"></i>
        </button>
    </form>
</div>