<div class="pagination__component">
   <ul>
    <li>
        <a class="pagination__link active" href="#">
            <span>
                1
            </span>
        </a>
    </li>
    <li>
        <a class="pagination__link" href="#">
            <span>
                2
            </span>
        </a>
    </li>
    <span>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
    </span>
    <li>
        <a class="pagination__link" href="#">
            <span>
                9
            </span>
        </a>
    </li>
    <li>
        <a class="pagination__link" href="#">
            <span>
                10
            </span>
        </a>
    </li>
   </ul>
</div>