<!-- JQUERY -->
<script src="assets/javascript/jquery/jquery-3.2.1.min.js"></script>
<!-- BOOTSTRAP -->
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- FANCY -->
<script src="assets/fancybox-master/dist/jquery.fancybox.min.js"></script>
<!-- ION RANGER -->
<script src="assets/ion-ranger/js/ion.rangeSlider.min.js"></script>
<!-- SLICK -->
<script src="assets/slick/slick/slick.min.js"></script>
<!-- JAVASCRIPT LOCAL FILE -->
<script src="assets/javascript/jquery/main.js"></script>
