<div id="top-product">
    <div class="product">
        <div class="categories__title title  ">
            <h2>
                Bộ sưu tập xu hướng
            </h2>
        </div>

        <div class="container">

                <nav class="product__tab">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">

                        {% for item in site.data.top-product-tab %}
                        <button class="nav-link mb-3 {{item.class}}" id="nav-{{item.target}}-tab" 
                            data-bs-toggle="tab" data-bs-target="#nav-{{item.target}}" 
                            type="button" role="tab" aria-controls="nav-{{item.target}}" 
                            aria-selected="{{item.select}}">
                        {{item.text}}
                        </button>
                        {% endfor %}
                    </div>
                </nav>


                <div class="tab-content" id="nav-tabContent">
        
                    {% for item in site.data.top-product-tab %}
                    <div class="tab-pane fade {{item.show}} {{item.active}}" 
                        id="nav-{{item.target}}" role="tabpanel" 
                        aria-labelledby="nav-{{item.target}}-tab">
                        <div class="row">
                            {% for item in site.data.top-product %}
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                                <div class="product__item">
                                    <div class="product__item__wraps ">
                                        <div class="product__img">
                                            <a href="product-details.html" class="product__img__link product__img__link--4by3 product__img__link--16by9">
                                            <img src="{{item.img_path}}" alt="product">
                                            </a>
                                            <div class="product__function">
                                                <a href="#" title="add to cart">
                                                    <i class="fal fa-shopping-bag"></i>
                                                </a>
                                                <a href="#" title="quick view">
                                                    <i class="fal fa-search"></i>
                                                </a>
                                                <a href="#" title="add to wish list">
                                                    <i class="fal fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product__info">
                                            <h3>
                                                <a href="product-details.html">
                                                    {{item.name}}
                                                </a>
                                            </h3>
                                            <p>
                                                {{item.price}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
        
    </div>
</div>