.header__full-width {

    .header__full-width__navbar {
        height: 50px;

        @include md {
            height: auto;
        }

        .container {
            height: 100%;

            .navbar__wraps {
                height: auto;
                border-bottom: 1px solid $border-straight-color;
                padding: 5px 0;

                @include lg {
                    padding-bottom: 10px;
                }

                .row {
                    height: 100%;

                    .navbar__wraps-description {
                        height: 100%;
                        width: 100%;
                        text-align: left;
                        font-family: 'Roboto', sans-serif;
                        display: flex;
                        align-items: center;

                        @include lg {
                            justify-content: center;
                        }

                        p {
                            width: auto;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            margin: 0;
                            font-size: 1.4rem;
                            line-height: 2.4rem;
                            color: $text-description-color;

                            @include xl {
                                font-size: 1.3rem;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                            }


                            a {
                                text-decoration: none;
                                color: $link-color;
                            }
                        }
                    }

                    
                }

            }

        }
    }

    .header__full-width__logo {
        width: auto;

        .header__full-width__logo-inner {
            padding: 22px 0;

            .navbar__logo-container {
                @include md {
                    display: none;
                }

                .navbar__logo {
                    width: 100%;
                    height: 100%;
                    display: flex;


                    img {
                        margin: auto;

                        @include xl {
                            width: 100%;
                            height: auto;
                        }

                        width: 286px;
                        height: 80px;
                    }
                }
            }

            .navbar__categories {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                position: relative;

                &:hover {
                    .navbar__categories__option {
                        transform: scaleY(1);
                    }
                }
                @include sm {
                    justify-content: center;
                    margin-bottom: 20px;
                }

                &__collapse,
                &__option {
                    height: 56px;
                }

                &__collapse {
                    border: none;
                    background-color: #eee;
                    font-size: 1.4rem;
                    font-weight: 700;
                    line-height: 3.6rem;
                    border-radius: 5px;
                    color: #424242;
                    padding: 0 20px;
                    transition: .3s;
                    display: flex;
                    align-items: center;
                    background-image: url(../../assets/images/icon/angle-down-solid.svg);
                    background-repeat: no-repeat;
                    background-position-x: 93%;
                    background-size: 12px;
                    background-position-y: center;
                    transition: $transition-time;
                    width: 100%;
                    max-width: 282px;
                    &.active {
                        background-image: url(../../assets/images/icon/angle-down-solid.svg);
                    }

                    &:hover {
                        cursor: pointer;
                        box-shadow: rgba(9, 169, 243, 0.27) 0px 0px 0.25em, rgba(0, 183, 255, 0.425) 0px 0.25em 1em;
                    }

                    @include sm {
                        width: 100%;
                        max-width: unset;
                    }
                }

                &__option {
                    position: absolute;
                    top: 80%;
                    height: max-content;
                    line-height: 3.6rem;
                    font-size: inherit;
                    margin: 5px 0;
                    padding: 5px 10px;
                    border-radius: $border-radius;
                    background-color: $white-color;
                    z-index: 1000;
                    box-shadow: rgba(9, 169, 243, 0.27) 0px 0px 0.25em, rgba(0, 183, 255, 0.425) 0px 0.25em 1em;
                    right: 0;
                    width: 100%;
                    max-width: 282px;
                    transition: $transition-time;
                    transform: scaleY(0);
                    transform-origin:  50% 0;
                    a {
                        display: block;
                        text-decoration: none;
                        font-family: inherit;
                        width: 100%;
                        transition: $transition-time;
                        padding: 0 10px;
                        border-radius: $border-radius;
                        font-size: 1.4rem;
                        color: $primary-color;
                        font-weight: 500;

                        &:hover {

                            transform: translateX(-5px);
                            background: $primary-color;
                            color: $white-color;
                            font-weight: 600;

                        }
                    }

                }

                .accordion {

                    .accordion-item {
                        width: 100%;
                        height: 100%;
                        border: none;
                        // font-size: 1.4rem;
                        color: $text-color;

                        .accordion-header {
                            border-radius: $border-radius;
                            width: inherit;
                            overflow: hidden;
                            height: inherit;

                            .accordion-button {
                                background-color: $border-straight-color;
                                width: inherit;
                                height: inherit;
                                outline: none;
                                color: inherit;
                                font-size: 1.4rem;
                                font-weight: 700;
                                line-height: 3.6rem;


                                &:not(.collapsed) {
                                    box-shadow: unset;
                                }

                            }
                        }

                        .accordion-collapse {

                            .accordion-body {
                                font-size: 1.4rem;
                                box-shadow: 0px 0px 7px -1px $primary-color;
                                border-radius: $border-radius;
                                background: $white-color;
                                z-index: 1;

                                ul {
                                    z-index: 2;
                                    background: $white-color;
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;
                                    box-sizing: border-box;
                                    width: 100%;
                                    position: relative;

                                    li {
                                        line-height: 3.6rem;
                                        font-size: inherit;
                                        display: flex;
                                        transition: $transition-time;
                                        margin: 5px 0;
                                        padding: 5px 10px;
                                        width: 100%;
                                        border-radius: $border-radius;
                                        background-color: $white-color;

                                        &:hover {
                                            transform: translateX(-5px);
                                            background: $primary-color;

                                            a {
                                                color: $white-color;
                                                font-weight: 600;
                                            }
                                        }

                                        a {
                                            color: $text-color;
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }




            }

            .navbar__search-box {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                @include sm {
                    justify-content: center;
                }

                form {
                    width: 474px;
                    height: 56px;

                    @include sm {
                        width: 100%;
                    }

                    .form-group {
                        width: 100%;
                        height: 100%;
                        // border: 1px solid $border-color;
                        background: $border-straight-color;
                        border-radius: $border-radius;
                        display: flex;
                        align-items: center;
                        padding: 0 20px;

                        input {
                            border: none;
                            outline: none;
                            font-size: 1.4rem;
                            line-height: 3.6rem;
                            flex: 1;
                            background: transparent;
                        }

                        button {
                            background: none;
                            border: none;
                            outline: none;

                            i {
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .header__full-width__menu {
        width: 100%;
        height: 60px;
        background: $primary-color;
        position: relative;
        transition: $transition-time;
        &.fixxed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 2;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        .container {
            width: 100%;
            height: 100%;

            .header__full-width__menu-inner {
                width: 100%;
                height: 100%;
                font-family: 'Roboto', sans-serif;

                .row {
                    width: 100%;
                    height: 100%;

                    &--margin {
                        @include lg {
                            margin: 0;
                        }
                    }

                    .navbar {
                        background: transparent;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;

                        .container-fluid {
                            padding: 0;

                            .navbar-toggler {
                                border: none;
                                outline: none;

                                i {
                                    color: $white-color;
                                    font-size: 3.6rem;
                                }
                            }

                            .navbar-collapse {

                                z-index: 1;

                                @include lg {
                                    background-color: $white-color;
                                    color: $text-color;
                                    box-shadow: 0px 0px 7px -1px $primary-color;
                                    border-top-right-radius: $border-radius;
                                    border-bottom-right-radius: $border-radius;
                                    position: fixed;
                                    top: 0;
                                    left: 0;
                                    width: 80%;
                                    max-width: 300px;
                                    height: 100%;
                                    z-index: 2;
                                    transform-origin: 0 50%;
                                    transform: translateX(-100%);
                                    transition: $transition-time;
                                    .navbar-nav {
                                        height: 100%;
                                        padding: 30px 15px;
                                        overflow: auto;
                                        .nav-item {
                                            margin: 5px;

                                            &.dropdown {
                                                height: 36px;
                                            }

                                            .dropdown-menu {
                                               width: 100%;
                                            }

                                            .nav-link {
                                                color: $text-color;

                                                &.active {
                                                    background-color: $primary-color;
                                                    color: $white-color;
                                                    font-weight: 600;
                                                }
                                            }
                                        }
                                    }
                                }
                                &.active {
                                    transform: translateX(0);
                                }
                            }

                            .navbar-nav {
                                // z-index: 1;
                                box-shadow: 0px 0px 7px -1px $primary-color;

                                .nav-item {
                                    // width: 106px;
                                    // height: 36px;
                                    // overflow: hidden;
                                    margin-right: 5px;

                                    .nav-link {
                                        border-radius: $border-radius;
                                        padding: 6px 16px;
                                        font-size: 1.6rem;
                                        line-height: 2.4rem;
                                        width: 100%;
                                        height: 100%;
                                        color: $white-color;
                                        text-transform: uppercase;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        font-weight: 400;
                                        transition: 2 * $transition-time;

                                        @media(max-width: 1399.98px) {
                                            font-size: 1.3rem;
                                            padding: 6px 10px;
                                        }

                                        @include lg {
                                            justify-content: flex-start;
                                        }
                                       
                                        &:hover,
                                        &.active {
                                            background-color: $white-color;
                                            color: $primary-color;
                                        }
                                    }

                                }

                                .dropdown {

                                    // &:hover {

                                    //     .dropdown-menu {
                                    //         transform: scaleY(1);
                                    //         top: 126%;

                                    //         // position: unset;
                                    //     }
                                    // }


                                    .dropdown-menu {
                                        // z-index: 1;
                                        transition: $transition-time !important;
                                        box-shadow: 0px 0px 7px -1px $primary-color;
                                        width: fit-content;
                                        // min-height: 400px !important;
                                        top: 126%;
                                        display: block;
                                        transform-origin: 0 0;
                                        transform: scaleY(0);

                                        &.show {
                                            transform: scaleY(1);
                                            top: 126%;
                                        }
                                        li {
                                            padding: 0 20px 0 10px;
                                        }
                                        .dropdown-item {
                                            display: block;
                                            width: 100%;
                                            font-size: 1.4rem;
                                            font-family: 'Roboto', sans-serif;
                                            line-height: 3.6rem;
                                            background-color: $white-color;
                                            transition: $transition-time;
                                            color: $text-color;

                                            &:hover {
                                                background-color: $primary-color;
                                                color: $white-color;
                                            }
                                        }
                                    }

                                }
                            }
                        }
                    }

                    .navbar-text {
                    }

                    .menu-inner__text {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        color: $white-color;
                        a {
                            width: 40px;
                            height: 40px;
                            border: 2px solid $white-color;
                            border-radius: 50%;
                            overflow: hidden;
                            display: flex;
                            text-decoration: none;
                            margin-left: 15px;
                            transition: $transition-time;
                            &:hover {
                                transform: scale(1.08);
                                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                            }
                            &.menu-inner__text__cart {
                                position: relative;
                                overflow: unset;
                            }
                            span {
                                position: absolute;
                                display: block;
                                border-radius: 50%;
                                background-color: $white-color;
                                top: -10px;
                                right: -8px;
                                text-align: center;
                                padding: 0px 5px;
                            }
                            i{
                                margin: auto;
                                color: $white-color;
                            }
                            img {
                                width: 100%;
                                height: auto;

                            }
                        }
                    }
                }
            }
        }


    }
}