#checkout {
    .checkout {
        padding: 0 7px;
        &__info {
            padding-right: 45px;
            @media (max-width: 767.98px) {
                padding-right: 0;
            }
        }
        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                margin: 0;
                font-size: 1.5rem;
                font-family: 'Roboto', sans-serif;
                color: $text-description-color;
                cursor: pointer;
                transition: $transition-time;
                span {
                    transition: $transition-time;
                    color: $primary-color;
                    &:hover {
                        color: $primary-color;
                    }
                }
                &.hidden {
                    display: none;
                }
            }
            h2 {
                text-align: left;
            }
        }
        .form-group {
            margin-bottom: 1rem;
        }
        &__form__wraps {
            // position: relative;
            display: flex;
            width: 100%;
            height: auto;
            // min-height: 300px;
        }
        &__form {
            transition: $transition-time;
            // opacity: 0;
            // visibility: hidden;
            // transform: translateY(200px);
            // position: absolute;
            // top: 0;
            // left: 0;
            // bottom: 0;
            display: none;
            width: 100%;
            height: auto;
            &.active {
                // opacity: 1;
                // visibility: visible;
                // transform: translateY(0);
                display: block;
            }
        }
        &__form-group{
            &--modify {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &__inner {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            &--hidden {
                display: none;
            }
        }
        &__form-control {
            padding: 10px 18px;
            font-size: 1.6rem;
            font-family: 'Roboto', sans-serif;
            line-height: 2.6rem;
            outline: none;
            width: 100%;
            color: $text-color;
            border-color: $border-color;

            &--modify {
                width: 48%;
            }
        }
        &__select {
            position: relative;
            padding-right: 15px;
            background-image: url(../../assets/images/icon/down-arrow.png);
            background-size: 1.4rem;
            background-position: 98% center;
            background-repeat: no-repeat
        }
        &__label {
            cursor: pointer;

            &--box {
                width: 18px;
                height: 18px;
                border: 1px solid $primary-color;
                border-radius: $border-radius;
                display: flex;
                margin-right: 10px;
                transition: $transition-time;

                &.active {
                    background-color: $primary-color;
                }
                i {
                    font-size: 1.2rem;
                    margin: auto;
                    color: $white-color;
                }
            }

            &--text {
                font-size: 1.5rem;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
            }
        }
        &__cart {
            border-left: 1px solid $border-straight-color;
            padding: 30px 0 0 45px ;
            @media (max-width: 767.98px) {
                padding: 30px 10px;
                border-left: none;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                margin-bottom: 30px;
                border-radius: $border-radius;
            }
            &__inner {
            @media (max-width: 767.98px) {
                display: none;
                }
            }
            &__list {

                margin-bottom: 2rem;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0 ;
                    
                }
            }
            &__item {
                padding: 10px 0px 10px 0;
                border-bottom: 1px solid $border-straight-color;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &__img {
                display: block;
                width: 68px;
                height: auto;
                border-radius: $border-radius;
                border: 1px solid $border-straight-color;
                position: relative;
                
                span {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    background-color: $text-color;
                    color: $white-color;
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
            &__info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 15px;
            }
            &__name {
                font-size: 1.4rem;
                line-height: 1.8rem;
                font-family: 'Oswald', sans-serif;
                font-weight: 600;
                color: $text-color;
                text-decoration: none;
                transition: $transition-time;
                margin-bottom: 10px;
                &:hover {
                    color: $primary-color;
                }
            }
            &__price {
                span {
                    font-size: 1.6rem;
                    font-weight: 700;
                    color: $text-color;
                    font-family: 'Roboto', sans-serif;
                }
            }
            &__wraps {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
            }
            &__price {
                padding-left: 10px;
            }
            &__description {
                font-size: 1.2rem;
                font-family: 'Roboto', sans-serif;
                color: $text-description-color;
            }
            &__table {
                padding-top: 12px;
                padding-bottom: 15px;
                border-bottom: 1px solid $border-straight-color;
                table {
                    width: 100%;
                    font-size: 1.5rem;
                    font-weight: 300;
                    font-family: 'Roboto', sans-serif;
                    line-height: 2.5rem;
                }
                .t-left {
                    text-align: left;
                }
                .t-right {
                    text-align: right;
                }
            }
            &__total {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 15px;
                span{
                    font-size: 1.5rem;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                }
                p {
                    margin: 0;
                    font-size: 2.2rem;
                    font-weight: 600;
                    color: $text-color;
                    font-family: 'Oswald', sans-serif;
                }
            }

        }
        &__toggle {
            // display: flex;
            display: none;
            align-items: center;
            justify-content: space-between;
            padding: 12px;
            border: 1px solid $border-straight-color;
            border-radius: $border-radius;
            cursor: pointer;
            margin-bottom: 30px;
            @media(max-width: 767.98px) {
                display: flex;
            }
            span {
                font-size: 1.4rem;
                font-family: 'Roboto', sans-serif;
                color: $primary-color;
            }
            p {
                margin: 0;
                font-size: 1.5rem;
                font-weight: 600;
                color: $text-color;
                font-family: 'Oswald', sans-serif;
            }
        }

    }

}