#home-slide {
    .slide {
        position: relative;
        padding-bottom: 30px;
        &:hover {
            .slide__button {
                opacity: .3;
            }
        }
        &__inner {

        }
        &__button {
            width: 42px;
            height: 42px;
            border: 2px solid $primary-color;
            border-radius: 50%;
            outline: none;
            outline: none;
            background: #fff;
            color: #2c88d3;
            transition: .3s;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            opacity: 0;
            &--left{
                left:5%;
            }
            &--right {
                right: 5%;
            }
            i {

            }
        }
        &__item {
            width: 100%;
            // height: cacl;
            // min-height: 70vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            @media(max-width: 1199.98px) {
                height: calc(100vw * 0.5625);
            }
        }
        &__box {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            // flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background: rgba($primary-color, .5);
            padding: 15px 0;
            @media(max-width: 575.98px) {
                flex-direction: column;
            }
            h1 {
                font-size: 3rem;
                font-family: 'Oswald', sans-serif;
                font-weight: 400;
                color: $white-color;
                margin: 0 15px 0 0 ;

                @media(max-width: 1399.98px) and (min-width: 768px) {   
                        font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (1800 - 300)));
                        font-weight:300;
                }

                @media(max-width: 767.98px) {
                    font-size: calc(21px + (30 - 21) * ((100vw - 300px) / (1800 - 300)));
                    // font-weight: 400;
                    text-align: center;
                }
                @media(max-width: 575.98px) {
                    font-size: calc(18px + (21 - 18) * ((100vw - 300px) / (1800 - 300)));
                    margin: 0 0 5px 0;
                }

            }
            p {
                font-size: 4rem;
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                color: $primary-color;
                margin-bottom: 0;
                @media(max-width: 1399.98px) {   
                    font-size: calc(16px + (40 - 16) * ((100vw - 300px) / (1800 - 300)));
                    line-height: calc(16px + (40 - 16) * ((100vw - 300px) / (1800 - 300)) + 4px);
                }
            }
            .btn {
                font-size: 1.3rem;
                padding: 5px 15px;
                border-radius: 50px;
                margin: 0;
                font-family: 'Roboto', sans-serif;
                text-transform: capitalize;
            }
            
        }
    }
}