#sorting {
    .sorting {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
        }
        &__link {
            display: flex;
            width: 42px;
            height: 42px;
            justify-content: center;
            align-items: center;
            border: 2px solid $primary-color;
            margin: 0 5px;
            text-decoration: none;
            border-radius: 50%;
            cursor: pointer;
            transition: $transition-time;
            &:hover, &.active {
                background-color: $primary-color;
                span{
                    color: $white-color;
                }
            }
            span {
                font-size: 1.6rem;
                color: $primary-color;
                font-family: 'Roboto', sans-serif;

            }
        }
    }
}